body {
    margin-top: 20px;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #008cff;
  text-decoration: none;
  cursor: pointer;
}

.link-button:hover {
  text-decoration: underline;
}
