{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="button btn-primary" type="submit" value="🔍">
  </form>
  <h1>
    Newspaper list
    <a href="{% url 'newspaper:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create a new newspaper
    </a>
  </h1>
  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <h2><a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a></h2>
        <a>
          {% for topic in newspaper.topics.all %}
            {{ topic.name }}
          {% endfor %}
        </a>
        <p>
          Published on {{ newspaper.published_date }} by
          {% for publisher in newspaper.publishers.all %}
            {{ publisher.username }}
          {% endfor %}
        </p>
        <p>
          {{ newspaper.content|truncatewords:50 }}
        </p>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspapers</p>
  {% endif %}
{% endblock %}