{% extends "base.html" %}

{% block content %}
  <h1>
    Newspaper list
    <a href="{% url 'newspaper:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create a new newspaper
    </a>
  </h1>
  {% if newspaper_list %}
    <ul>
      {% for newspaper in newspaper_list %}
        <h2><a href="{% url 'newspaper:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a></h2>
        <a>{{ newspaper.topic }}</a>
        <p>
          Published on {{ newspaper.published_date }} by
          {% for publisher in newspaper.publishers.all %}
            {{ publisher.username }}
          {% endfor %}
        </p>
        <p>
          {{ newspaper.content|truncatewords:50 }}
        </p>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no newspapers</p>
  {% endif %}
{% endblock %}