{% extends 'layouts/base_background.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}
{% block body %} class="blog-author bg-gray-200" {% endblock body %}

{% block header %}

  {% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

  <!-- -------- START HEADER 4 w/ search book a ticket form ------- -->
  <header>
    <div class="page-header min-height-400" style="background-image: url('{% static 'img/city-profile.jpg' %}');"
         loading="lazy">
      <span class="mask bg-gradient-dark opacity-8"></span>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="ml-3">
            <h1>Delete newspaper?</h1>
            <br>
            <form action="" method="post">
              {% csrf_token %}

              <input type="submit" value="Yes" class="btn btn-danger">
              <a class="btn btn-primary" href="{% url "newspaper:newspapers" %}">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock content %}
